
body {
  background-color: #f1f1f1;
}

h1 {
  color: blueue;
}

p {
  color: black;
}

#layout {
  width: 600px;
  height: 400px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#chg_psw_head {
  width: 50%;
  margin: auto;
  text-align: left;
}

#refresh_wall {
  float: right;
}


#image {
  float: left;
  width: 340px;
}

#forms {
  float: right;
  width: 250px;
  height: 100%;
}

#login {
  width: 250px;
  background: white;
}

#signup {
  width: 250px;
  background: white;
}

.tabs {
  width: 100%;
  height: 100%;
}

.tabs .button_container {
  height: 8%;
}

.tabs .button_container .tab_button {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.tabs .button_container .tab_button:hover {
  background-color: #d7d4d4;
}

.tabs .button_container .tab_button:focus {
  background-color: #d7d4d4;
}


.tabs .tab_panel {
  height: 92%;
  background-color: white;
  text-align: center;
  padding-top: 0px;
  box-sizing: border-box;
  display: none;
}

form {
  width: 100%;
}

#form_psw {
  width: 50%;
  margin: auto;
  text-align: justify;
  margin-top: auto;
}

#personal_info {
  width: 25%;
  height: 100%;
  float: left;
  text-align: left;
}

#wall {
  width: 75%;
  height: 100%;
  float: right;
  text-align: left;

}

#wall_form {
  width: 80%;
}

#write_wall {
  width: 100%;
  height: 35%;
}

#wall_thoughts {
  width: 100%;
  float: left;
  height: 150px;
  clear: right;
}

#read_wall {
  width: 100%;
  height: 75%;
}

#tabs-2 {
  padding: 200px;
}

input {
  float: right;
  width: 60%;
}

button {
  float: right;
}

select {
  float: right;
  width: 60%;
}
